*{
    padding: 0px;
    margin: 0px;
}

body{
    text-align: justify;
    padding: 20px;
}

header{
    color: blue;
    background-color: royalblue;
    padding: 20px;
    text-align: center;
}

header p{
    color: black;
}

footer p{
    size: small;
}

nav{
    text-align: center;
    word-spacing: 10px;
    padding: 20px;
}

nav a{
    font-style: arial;
    color: black;
}

nav a:hover{
    cursor: pointer;
    color: blue;
}

p, a {
    font-size: 15px;
    font-style: arial;
}

h2 {
    font-size: 30px;
    font-style: georgia;
}

#home{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    line-height: 40px;
    background-color: skyblue;
    border-radius: 5px;
}

#about{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    line-height: 40px;
    background-color: skyblue;
}

#projects{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    line-height: 40px;
    background-color: skyblue;
}

#projects ul{
    list-style-type: none;
}

#projects ul li{
    font-style: arial;
}

#contact{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    line-height: 40px;
    background-color: skyblue
}

footer{
    text-align: center;
    padding: 20px;
    background-color: aqua;
}

html{
    background: #ADD8E6;
}